<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <div id="graph-1"></div>
    </div>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs ={ graphJSON |safe };
        Plotly.plot("graph-1",
            graphs ,{});
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</body>
</html>