{% extends "base.html" %}
{% block title %}StockBot產業一覽{% endblock %}
    {% block main %}

    <style>
      .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #94bfd6;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
    </style>
    <style>
      a {text-decoration:none;}
    </style>

    <div class="container title">
      <h2>化學工業</h2>
    </div>
    <div class="container wel">
      
      <div style="float: right;" class="dropdown">
        <button class="btn btn-a1 dropdown-toggle" type="button" data-toggle="dropdown">其他產業
        <span class="caret"></span></button>
        <!-- <ul class="dropdown-menu n1"> -->
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <!-- <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button> -->
            <li><a href="#" class="dropdown-item" type="button">交通航運</a></li>
            <li><a href="#" class="dropdown-item" type="button">軟體服務</a></li>
            <li><a href="#" class="dropdown-item" type="button">製藥</a></li>
          </div>
         
        <!-- </ul> -->
      </div>

     
      
    
      <div>
        <h5>上游</h5>
        <hr class="my-4">
          <a href="{{ url_for('stock', id=1723) }}" name='stock' id='1723' > 1723 中碳</a>&nbsp;&nbsp;
      </div>
        
      <br><br>
      <div method="post">
        <h5>中游</h5>
        <hr class="my-4">
        <a href="{{ url_for('income', id=1709) }}" name='stock' id='1709' > 1709 和益</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1711) }}" name='stock' id='1711' > 1711 永光</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1714) }}" name='stock' id='1714' > 1714 和桐</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1717) }}" name='stock' id='1717' > 1717 長興</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1718) }}" name='stock' id='1718' > 1718 中纖</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1721) }}" name='stock' id='1721' > 1721 三晃</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1725) }}" name='stock' id='1725' > 1725 元禎</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1727) }}" name='stock' id='1727' > 1727 中華化</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1735) }}" name='stock' id='1735' > 1735 日勝化</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1776) }}" name='stock' id='1776' > 1776 展宇</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4722) }}" name='stock' id='4722' > 4722 國精化</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4739) }}" name='stock' id='4739' > 4739 康普</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4764) }}" name='stock' id='4764' > 4764 雙鍵</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4770) }}" name='stock' id='4770' > 4770 上品</a>&nbsp;&nbsp;
      </div>
      <br><br>
      <div>
        <h5>下游</h5>
        <hr class="my-4">
        
        <a href="{{ url_for('income', id=1711) }}" name='stock' id='1711' > 1711 永光</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1712) }}" name='stock' id='1712' > 1712 興農</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1717) }}" name='stock' id='1717' > 1717 長興</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=1721) }}" name='stock' id='1721' > 1721 三晃</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1723) }}" name='stock' id='1723' > 1723 中碳</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1725) }}" name='stock' id='1725' > 1725 元禎</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1730) }}" name='stock' id='1730' > 1730 花仙子</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1732) }}" name='stock' id='1732' > 1732 毛寶</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=1773) }}" name='stock' id='1773' > 1773 勝一</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4720) }}" name='stock' id='4720' > 4720 德淵</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4739) }}" name='stock' id='4739' > 4739 康普</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4766) }}" name='stock' id='4766' > 4766 南寶</a>&nbsp;&nbsp;
      </div>

      <!-- 找不到在哪 -->
      <!-- <a href="{{ url_for('stock', id=1708) }}" name='stock' id='1708' > 1708 東鹼</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=1710) }}" name='stock' id='1710' > 1710 東聯</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=1713) }}" name='stock' id='1713' > 1713 國化</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=1718) }}" name='stock' id='1718' > 1718 中纖</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=1722) }}" name='stock' id='1722' > 1722 台肥</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=1726) }}" name='stock' id='1726' > 1726 1永記</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=3708) }}" name='stock' id='3708' > 3708 上緯投控</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=4755) }}" name='stock' id='4755' > 4755 三福化</a>&nbsp;&nbsp; -->
      <!-- <a href="{{ url_for('stock', id=4763) }}" name='stock' id='4736' > 4763 材料-KY</a>&nbsp;&nbsp; -->
    </div>
    {% endblock %}
