{% extends "base.html" %}
{% block title %}StockBot產業一覽{% endblock %}
    {% block main %}

    <style>
      .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #94bfd6;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
    </style>
    <style>
      a {text-decoration:none;}
    </style>

    <div class="container title">
      <h2>電腦及周邊設備業</h2>
    </div>
    <div class="container wel">
      
      <div style="float: right;" class="dropdown">
        <button class="btn btn-a1 dropdown-toggle" type="button" data-toggle="dropdown">其他產業
        <span class="caret"></span></button>
        <ul class="dropdown-menu n1">
          <li><a href="#">交通航運</a></li>
          <li><a href="#">軟體服務</a></li>
          <li><a href="#">製藥</a></li>
        </ul>
      </div>
      <hr class="my-4">
      <div>
        <h5>上游</h5>
        <hr class="my-4">
          <a href="{{ url_for('income', id=2301) }}" name='stock' id='2301'> 2301光寶科</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=2331) }}" name='stock' id='2331' >2331精英</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=2353) }}" name='stock' id='2353' >2353宏碁</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=2357) }}" name='stock' id='2357' >2357華碩 </a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=2376) }}" name='stock' id='2376'> 2376技嘉</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2377) }}" name='stock' id='2377'>2377	微星 </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2382) }}" name='stock' id='2382'>2382	廣達</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2387) }}" name='stock' id='2387'> 2387精元</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=2399) }}" name='stock' id='2399'> 2399映泰</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2417) }}" name='stock' id='2417'>2417	圓剛</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2425) }}" name='stock' id='2425'>2425	承啟 </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=2465) }}" name='stock' id='2465'> 2465麗臺</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=3005) }}" name='stock' id='3005'> 3005神基</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3013) }}" name='stock' id='3013'>3013	晟銘電 </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3017) }}" name='stock' id='3017'>3017	奇鋐</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3022) }}" name='stock' id='3022'>3022	威強電</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3046) }}" name='stock' id='3046'> 3046建碁</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3057) }}" name='stock' id='3057'> 3057喬鼎</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=3060) }}" name='stock' id='3060'>3060	銘異</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3515) }}" name='stock' id='3515'>3515	華擎</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3701) }}" name='stock' id='3701'> 3701大眾控</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=3712) }}" name='stock' id='3712'> 3712永崴投控</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=4916) }}" name='stock' id='4916'>4916	事欣科</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=4938) }}" name='stock' id='4938'>4938	和碩</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=5215) }}" name='stock' id='5215'>5215	科嘉-KY </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=5258) }}" name='stock' id='5258'>5258	虹堡 </a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=6117) }}" name='stock' id='6117'>6117	迎廣 </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=6128) }}" name='stock' id='6128'>6128	上福 </a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=6172) }}" name='stock' id='6172'>6172	互億 </a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=6230) }}" name='stock' id='6230'>6230	尼得科超眾 </a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=6235) }}" name='stock' id='6235'>	6235華孚</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=6591) }}" name='stock' id='6591'> 6591動力-KY</a>&nbsp;&nbsp;
          <a href="{{ url_for('income', id=8163) }}" name='stock' id='8163'>8163	達方</a>&nbsp;&nbsp; 
          <a href="{{ url_for('income', id=8210) }}" name='stock' id='8210'>	8210勤誠</a>&nbsp;&nbsp; 

        </div>
        
      <br><br>
      <div>
        <h5>下游</h5>
        <hr class="my-4">
        <a href="{{ url_for('income', id=2301) }}" name='stock' id='2301'> 2301光寶科</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2305) }}" name='stock' id='2305' > 2305全友</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2324) }}" name='stock' id='2324'> 2324仁寶</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2331) }}" name='stock' id='2331' > 2331精英</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2352) }}" name='stock' id='2352' > 2352佳世達</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2353) }}" name='stock' id='2353' > 2353宏碁</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2356) }}" name='stock' id='2356' > 2356英業達</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2357) }}" name='stock' id='2357'>2357華碩 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2362) }}" name='stock' id='2362' > 2362藍天</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2364) }}" name='stock' id='2364'> 2364倫飛</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2365) }}" name='stock' id='2365' >2365昆盈</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2376) }}" name='stock' id='2376'>2376技嘉 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2377) }}" name='stock' id='2377'>2377微星 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2380) }}" name='stock' id='2380' >2380虹光 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2382) }}" name='stock' id='2382'> 2382廣達</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2395) }}" name='stock' id='2395' > 2395研華</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2397) }}" name='stock' id='2397' > 2397友通</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2405) }}" name='stock' id='2405' >2405浩鑫 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2417) }}" name='stock' id='2417' >2417圓剛 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2424) }}" name='stock' id='2424' > 2424隴華</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=2465) }}" name='stock' id='2465' >2465麗臺 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3002) }}" name='stock' id='3002'>3002歐格 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3005) }}" name='stock' id='3005' >3005神基</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3022) }}" name='stock' id='3022' >3022威強電 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3046) }}" name='stock' id='3046'>3046建碁 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3057) }}" name='stock' id='3057'>3057喬鼎</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=3231) }}" name='stock' id='3231'> 3231緯創</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3416) }}" name='stock' id='3416'> 3416融程電</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=3494) }}" name='stock' id='3494'> 3494誠研</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3515) }}" name='stock' id='3515'>3515華擎 </a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=3701) }}" name='stock' id='3701'>3701大眾控</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=3706) }}" name='stock' id='3706'> 3706神達</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=3712) }}" name='stock' id='3712'> 3712永崴投控</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=4916) }}" name='stock' id='4916'> 4916事欣科</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=4938) }}" name='stock' id='4938'>4938和碩</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=5258) }}" name='stock' id='5258'>5258虹堡</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=6166) }}" name='stock' id='6166'>6166凌華 </a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=6206) }}" name='stock' id='6206'> 6206飛捷</a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=6277) }}" name='stock' id='6277'> 6277宏正</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=6414) }}" name='stock' id='6414'>6414樺漢 </a>&nbsp;&nbsp;
        <a href="{{ url_for('income', id=6579) }}" name='stock' id='6579'>6579研揚	</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=6669) }}" name='stock' id='6669'>6669緯穎</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=8114) }}" name='stock' id='8114'>8114振樺電</a>&nbsp;&nbsp; 
        <a href="{{ url_for('income', id=9912) }}" name='stock' id='9912'>9912偉聯</a>&nbsp;&nbsp;
         {% for s in stock %}
          <a href="{{ url_for('home2') }}" name='stock' value='{{ s[0] }}' > {{ s[0] }} {{ s[1] }}</a>&nbsp;&nbsp;
        {% endfor %}

      </div>
    </div>
      

    {% endblock %}
